/* Add your styles here */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
  padding: 20px;
}

h1 {
  color: #007BFF;
}
h2 {
  color:red;
}


/* Add more styles as needed */
